.nameBar{
    //padding-left: 0vw;
    font-size: 2em;
}

.profilePic.ui.image{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-right: 1vw;
}

.profileBar {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}