.semantic-ui{
    @import '~semantic-ui-css/semantic.min.css';
}

#header{
    float: left;
    #p{
        float: left;
    }
}

#a{
    color: black;
}

.platformIcon{
        width: 70%;
        height: 70%;
}

@media (min-width: 500px){
    .platformIcon{
        width: 20%;
        height: 20%;
    }
}
