.semantic-ui{
    @import '~semantic-ui-css/semantic.min.css';
}

#header{
    float: left;
    #p{
        float: left;
    }
}

#a{
    color: black;
}

.platformIcon{
    width: 15%;
    height: 15%;
}