.project{    
    padding: 0;
    height: 50%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;

    div {
        width: 45%;
        height: 25vh;
        margin-bottom: 3%;
        position: relative;
        overflow: hidden;

        video {
            filter: blur(3px);
        }

        img {
            filter: blur(3px);
        }

        div {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            font-size: x-large;
            font-weight: bold;
            box-sizing: border-box;
        }

        &:hover {
            video {
                filter: blur(0px)
            }
        }

        &:hover {
            img {
                filter: blur(0px)
            }
        }
    }
}

.more{        
    width: 45%;
    background-color: #fafafa;
    height: 25vh;
    font-size: x-large;
}

.darkBackground {
    color: white;
}

.lightBackground {
    color: black;
}