.semantic-ui{
    @import '~semantic-ui-css/semantic.min.css';
}

.linksList {
    display: flex;
    margin: 0;
    padding: 0;

    align-items: right;
    justify-content: space-between;
    list-style-type: none;

    li{
        
        
        margin-top: 1vw;
        img {

            filter: invert(41%);
            &:hover{
                filter: invert(100%);
            }
        }
    }
}

.profile{
    font-size: 30px;
    margin: 10px;
    img{
        width: 50px;
        height: 50px;
    }
}

.ui.image {
    margin-right: 1vw;
    width: 30px;
    height: 30px;
    filter: invert(41%);
    &:hover{
        filter: invert(100%);
    }
  }
