.profileBar{
    display: flex;
}

.headerMenuItem{
    text-align: center;
    font-size: 1em;
}

.links {
    color: white;
    margin-right: 1vw;
    filter: invert(10%);
    &:hover{
        filter: invert(100%);
    }
}


.verticalCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}



