.semantic-ui{
    @import '~semantic-ui-css/semantic.min.css';
}

.linksList {
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 500px;
    align-items: right;
    list-style-type: none;
}

.profileBar{
    display: flex;
    margin: 0;
    padding: 0;
}

.nameBar{
    padding-left: 10px;
    padding-top: 30px;
    font-size: 25px;
}

.headerMenuItem{
    font-size: 20px;
}

.ui.image {
    margin-right: 1vw;
    width: 30px;
    height: 30px;
    filter: invert(41%);
    &:hover{
        filter: invert(100%);
    }
  }

  .profilePic.ui.image{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 1vw;
    margin-left: 1vw;

    filter: invert(0%);
    &:hover{
        filter: invert(0%);
    }
}
