.profileBar{
    display: flex;
}

.headerMenuItem{
    text-align: center;
    font-size: 1em;
}

.links {
    margin-right: 1vw;
    filter: invert(10%);
    &:hover{
        filter: invert(100%);
    }
}


.verticalCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nameBar{
    display: flex;

    font-size: 1.5em;
}

.profilePic.ui.image{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-right: 1vw;
}

