.gridcontainer {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    height: 85vh;
    
}

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .gridcontainer {
        display: grid;
        grid-template-columns: 90vw;
        height: inherit;
        padding: 10px;
      }
  }