.semantic-ui{
    @import '~semantic-ui-css/semantic.min.css';
}

.sectionBackground{
    border-radius: 25px;
    padding: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.sectionBody{
    font-size: medium;
}

.sectionTitle{
    font-weight: bold;
    font-size: large;
}

