.semantic-ui{
    @import '~semantic-ui-css/semantic.min.css';
}

#header{
    float: left;
    #p{
        float: left;
    }
}

.sectionBody{
    font-size: medium;
}

.sectionTitle{
    font-weight: bold;
    font-size: large;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}