:global(#root) {
  .container {
    padding: 2rem;
  }
  .button {
    font-size: 3em;
  }
  
  .linksList {
    display: flex;
    margin: 0;
    padding: 0;

    align-items: right;
    justify-content: space-between;
    list-style-type: none;

    li{
        
        
        margin-top: 1vw;
        img {

            filter: invert(41%);
            &:hover{
                filter: invert(100%);
            }
        }
    }
}

.headerBar{
    color: gray;
}

.nameBar{
    margin-right: 60px;
    padding-top: 30px;
    font-size: 25px;
}

.profilePic.ui.image{
    float: left;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding-right: 10px;
}

.headerMenuItem{
    font-size: 25px;
}

}